@model NoteApp.Domain.Models.NoteModel

@{
    ViewData["Title"] = "Notes";
}

<!--
<h1>Notes</h1>

<h4>NoteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Notes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoteName" class="control-label"></label>
                <input asp-for="NoteName" class="form-control" />
                <span asp-validation-for="NoteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteMessage" class="control-label"></label>
                <input asp-for="NoteMessage" class="form-control" />
                <span asp-validation-for="NoteMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotesCategory" class="control-label"></label>
                <input asp-for="NotesCategory" class="form-control" />
                <span asp-validation-for="NotesCategory" class="text-danger"></span>    
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label"></label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
-->

<h1>Notes</h1>
<hr/>
<table>
    
</table>